* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("https://cdn.imgchest.com/files/myd5crrqj4b.png");
    opacity: .5;
    background-repeat: no-repeat;
}
.container {
    max-width: 1400px;
    flex-wrap: wrap;
    gap: 22px;
    display: flex;
}

.container > * {
    background-color: lightblue;
    border: 2px dashed blue;
    color: blue;
    font-size: 10rem;
    height: 200px;
    padding: 0px;
    flex-grow: 1;
    flex-shrink: 0;
}

.box1 { flex-basis: 1400px; }

.box2 { flex-basis: 309px; }

.box3 { flex-basis: 1069px; }

.box4 { flex-basis: 542px; }

.box5 { flex-basis: 542px; }

.box6 { flex-basis: 272px; }