* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.imgchest.com/files/j7mmcrexg76.png);
    background-repeat: no-repeat;
    max-width: 1143px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}

.container > * {
    border: 2px dashed blue;
}

.container {
    display: grid;
    grid-template-rows: 35px 80px 101px 530px;
    grid-template-areas:
    "one one one one"
    "two five five six"
    "three three three three"
    "four four seven seven";
    grid-template-columns: 100px 390px 460px 220px;
}

.box1 { grid-area: one; }
.box2 { grid-area: two; }
.box3 { grid-area: three; }
.box4 { grid-area: four; }
.box5 { grid-area: five; }
.box6 { grid-area: six; }
.box7 { grid-area: seven; }