* {
    margin: 0;
    box-sizing: border-box;
}

img:nth-of-type(1) {
    display: none;
}

body {
    background-image: url(https://cdn.imgchest.com/files/baaad830a847.png);
    background-repeat: no-repeat;
    background-position-x: 13px;
    max-width: 1143px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;

    background-image: none;
    opacity: 1;
}

.container > * {
    border: 2px dashed blue;
}

.container {
    margin-left: 13px;
    display: grid;
    grid-template-areas:
    "two one one one"
    "five six six six"
    "three three three three"
    "four four seven seven";
    grid-template-columns:
        minmax(100px, 100px)
        minmax(390px, 390px)
        minmax(680px, 680px);
    grid-template-rows:
        minmax(35px, auto)
        minmax(80px, auto)
        minmax(101px, auto)
        minmax(530px, auto);
}

.box1 {grid-area: one;}
.box2 {grid-area: two;}
.box3 {grid-area: three;}
.box4 {grid-area: four;}
.box5 {grid-area: five;}

.topmenu {
    display: flex;
    list-style-type: none;
    background-color: #034ea2;
    color: #ffffff;
    font-size: 10px;
    font-weight: normal;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    flex-wrap: wrap;
    padding-left: 0;

    display: flex;
    flex-direction: column;
}

.topmenu li {
    width: 100%; 
    display: block;
    padding: 12px; 
    color: white; 
    text-transform: uppercase;
    border-bottom: 1px solid white;
}

.box6 {grid-area: six;}
.box7 {grid-area: seven;}

.mam {margin-left: 0;}

@media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "one"
            "five"
            "two"
            "three"
            "four"
            "six"
            "seven";
    }

    .topmenu {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
    }

    .topmenu li {
        padding: 10px 0;
    }
}