* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.imgchest.com/files/baaad830a847.png);
    background-repeat: no-repeat;
    background-position-x: 13px;
    max-width: 1143px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}

.container > * {
    border: 2px dashed blue;
}

.container {
    margin-left: 13px;
    display: grid;
    grid-template-rows: 35px 80px 101px 530px;
    grid-template-areas:
    "one one one one"
    "two five five six"
    "three three three three"
    "four four seven seven";
    grid-template-columns:
        minmax(100px, 100px)
        minmax(390px, 390px)
        minmax(460px, 460px)
        minmax(220px, 220px);
}

.box1 {grid-area: one;}
.box2 {grid-area: two;}
.box3 {grid-area: three;}
.box4 {grid-area: four;}
.box5 {grid-area: five;
    display: flex;}

.topmenu {
    display: flex;
    list-style-type: none;
    background-color: #034ea2;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 120px;
}

.topmenu li {
    padding: 0px 20px;
}

.box6 {grid-area: six;}
.box7 {grid-area: seven;}

.mam {margin-left: 0;}



@media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "one"
            "five"
            "two"
            "three"
            "four"
            "six"
            "seven";
    }

    .topmenu {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
    }

    .topmenu li {
        padding: 10px 0;
    }
}