* {
    margin: 0;
    box-sizing: border-box;
}

body > img:nth-of-type(1) {
    display: none;
}

body {
    background-image: none;
    opacity: 1;
    font-family: Arial;
}

.container > * {
    border: 2px dashed blue;
}

.container {
    display: grid;
    gap: 10px;

    grid-template-columns:
        minmax(150px, 1fr)
        minmax(300px, 3fr)
        minmax(180px, 1.5fr);
    grid-template-rows:
        minmax(80px, auto)
        minmax(300px, auto)
        auto
        auto;

    grid-template-areas:
        "logo hero sidebar"
        "menu hero sidebar"
        "menu flex1 sidebar"
        "menu flex2 sidebar";

    padding: 15px;
}

/* Areas */
.logo { grid-area: logo; }
.menu { grid-area: menu; }
.hero { grid-area: hero; }
.flex1 { grid-area: flex1; }
.flex2 { grid-area: flex2; }
.sidebar { grid-area: sidebar; }

.logo img {
    max-width: 140px;
}

.topmenu {
    list-style-type: none;
    padding-left: 0;
    background-color: #034ea2;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
}

.topmenu li {
    padding: 12px;
    border-bottom: 1px solid white;
}

.hero {
    background-image: url("https://images.unsplash.com/photo-1581091215367-59ab6a3cfb5b");
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
}

.hero h1 {
    color: white;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 6px #000;
}

.flex1, .flex2 {
    display: flex;
    gap: 10px;
}

.card, .card2 {
    background: #eee;
    padding: 20px;
    text-align: center;
    flex: 1;
}


.sidebar .ad {
    background: #ddd;
    padding: 20px;
    height: 100%;
}

@media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "menu"
            "hero"
            "flex1"
            "flex2"
            "sidebar";
    }

    .menu {
        display: none;
    }

    .menu.mobileMenu {
        display: block;
        position: fixed;
        top: 50px;
        right: 0;
        background: white;
        padding: 20px;
        border: 1px solid #ddd;
        z-index: 999;
    }

    .topmenu li {
        padding: 10px 0;
    }
}